*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}

.div-botao-wesley-barrozo{
    margin: 20px;
}

.botao-wesley-barrozo{
    margin: 20px;
    font-size: 25px;
    color: #BDE9FB;   
}

.div-ul{
    background-color: #281A39;
}

.ul-nav{
    display: flex; 
}

li{
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
}

a{
    margin: 10px;
    text-decoration: none;
    color: #f6f6f6 ;
}

.texto-aprensetaçao{
    text-align:left;
    margin-top: 180px;
    margin-left: 20px;
}

.ola-sou{
   font-size: 50px;
   color: #BDE9FB;
}

.wesley-barrozo{
    font-size: 110px;
    color: #f6f6f6 ;
}

.pequena-informaçao{

    font-size: 15px;
    color: #f6f6f6 ;
}

.div-apresetaçao,.div-final,.Certificados{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sobre-mim,.Certificados,.div-educação,.div-Certificados{
    width: 100vw;
    height: 50vh;
}

.div-apresetaçao1,.foto-capa,.foto-contra-capa,.Contato{
    flex: 1;
}

.div-apresetaçao1,.Contato{
    background-color: #2061B7;
}

.foto-capa{
    background-image: url(img/IMG_7003.JPEG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.foto-contra-capa{
    background-image: url(img/IMG_6341.JPEG);
    background-size: cover;
    background-position: center;
}

.sobre-mim{
    background-color: #bde9fb;
    text-align: center;
    padding: 90px;
}

.texto-sobre-mim,p{
    padding-bottom: 50px;
    font-size: 15px;
}

.Certificados{
    background-color: #f6f6f6;
}

.Certificados h1{
    text-align: center;
}


.Portifolio{
    background-color: #f6f6f6;
    text-align: center;
}

.Contato h1{
    font-size: 90px;
    padding: 30px ;
    color: #BDE9FB;
}

.contato-pessoal{
    color: #f6f6f6;
    padding: 12px 30px;

    font-size: 15px;
}






































.Certificados{
    background: #2563eb;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 20px;
}

.card {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 180px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;

    margin: 30px;
}

.card:hover {
    height: 300px;
}

.card .img-box {
    position: absolute;
    width: 100px;
    height: auto;
    top: 0px;
    transition: 0.5s;
}

.card:hover .img-box {
    top: -50px;
    scale: 0.75;
}

.card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 150px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .content {
    top: 130px;
    height: 250px;
}

.card .read-more {
   background: linear-gradient(90deg, #3730a3, #7e22ce);
   padding: 12px;
   color: #fff;
   text-decoration: none;
   border-radius: 8px;
}